<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>638778848216-v3idtc2g00scbbt46jd74b8rvq533hhm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.638778848216-v3idtc2g00scbbt46jd74b8rvq533hhm</string>
	<key>API_KEY</key>
	<string>AIzaSyAljS83XEl8Sh19n4ohOZlD-VVdBx5yr-8</string>
	<key>GCM_SENDER_ID</key>
	<string>638778848216</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tasktimetracker.taskTimeTracker</string>
	<key>PROJECT_ID</key>
	<string>bip-projects</string>
	<key>STORAGE_BUCKET</key>
	<string>bip-projects.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:638778848216:ios:a87dda5846554d9c9d38ad</string>
</dict>
</plist>